.cartQuiz {
  grid-area: content;
  width: 80vw;
  max-height: 70vh;
  border: 1px solid #fff;
  border-radius: 50px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  font-size: calc(2rem + 1vw);
  background-color: rgba(100, 100, 100, 0.1);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  padding: 2rem;

  &--start-page{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "tabs" "panels";
  }

  &--work-page{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 1fr;
    grid-template-areas: "info" "question" "answer";
  }

  &--end-page{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "title" "rezult";
  }

  &__info {
    grid-area: info;
    justify-self: end;
    font-size: calc(.3rem + 1vw);
    align-self: flex-end;
    padding: 10px 20px 30px 0;
  }

  &__question {
    grid-area: question;
    display: flex;
    align-items: center;

    h2 {
      font-size: calc(1rem + 1vw);
    }
  }

  &__answer {
    grid-area: answer;
    border-top: 1px solid black;
    padding: .5rem;
    width: 100%;
    h3 {
      font-size: calc(1rem + 1vw);
    }
  }
}
