.header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  border: 1px solid #fff;
  border-radius: 50px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);

  &__text {
    color: #6f7886;
    padding: 2rem 10rem;
    text-align: center;
    font-size: calc(2rem + 1vw);
  }
}
