@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~normalize.css";

@import "header";
@import "cartquiz";
@import "buttons";
@import "tabpanel";
@import "result";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 body {
   font-family: 'Roboto', sans-serif;
   font-size: 12px;
   min-width: 350px;
 }
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background:linear-gradient(to right, rgb(42, 181, 206) 0%, rgb(72, 117, 208) 100%);
}


