.radio__answer {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}
.radio__answer + label {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
  font-size: calc(.9rem + 1vw);
  font-weight: bold;
  user-select: none;
}
.radio__answer + label:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
.radio__answer + label:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(72, 117, 208);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: .2s;
}
.radio__answer:checked + label:after {
  opacity: 1;
}
.radio__answer:focus + label:before {
  box-shadow: 0 0 0 3px rgba(72, 117, 208,.5);
}
